@page
@model XML_Web_Services_Project.Pages.ContactUsModel
@{
}
<body>
<div class="container text-center mt-2">
    <h3> Contact Us</h3>
    <h5> Any queries or feedback? Just drop us a message and our team will get back to you within 24 hours!</h5>
</div><br />
<div class="container mt-1">
    <div class="row">
    <div class="col-4">
        <img src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=396&q=80" alt="A typewriter placed in the middle of an empty white background" style="width:400px;height:400px;">
    </div>
    <div class="col-8">
        <form id="contact-form" name="contact-form" action="" method="POST">
        <div class="row">
            <div class="col-md-6">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" class="form-control"><br>
            </div>
            <div class="col-md-6">
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="email">Email ID:</label><br>
                <input type="text" id="email" name="email" class="form-control"><br>
            </div>
            <div class="col-md-6">
                <label for="phone">Contact Number:</label><br>
                <input type="text" id="lname" name="lname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                What is this regarding?
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input type="checkbox" id="restaurant" name="restaurant" value="Restaurant" />
                <label for="restaurant"> Restaurants</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="recreation" name="recreation" value="Recreation" />
                <label for="recreation"> Recreation Facilities</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="crime" name="crime" value="Crime" />
                <label for="crime"> Crime Incidents</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="other" name="other" value="Other" />
                <label for="other"> Others</label>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-12">
                <label for="message">Please enter your query or feedback:</label><br>
                <textarea type="text" id="message" name="message" class="form-control md-textarea"></textarea>
            </div>
        </div><br />
        <div class="text-center text-md-left">
            <a class="btn btn-dark mb-3 contact-submit-btn" onclick="document.getElementById('contact-form').submit();">Submit</a>
        </div>
    </form>
            </div>
</div>
</body>
