@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid p-0">
    <img src="https://images.unsplash.com/photo-1634827022899-e2abcd96f837?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80" alt="Neighborhood Friend" class="img-responsive w-100" height="500px">
    <div class="carousel-caption" style="top:13%; height:300px">
        <h1 style="font-size:4rem; color:lightcyan">Neighborhood Friend</h1>
        <p><strong> Explore your new Home </strong></p>
    </div>
</div>
