@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid p-0">
    <div id="imgbg">
    <img src="https://images.unsplash.com/photo-1459535653751-d571815e906b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80" alt="Image showing one side of a building. A brick red colored door is visible with a knocker and 2 lamps on the side. There is a cycle parked outside near the fence" class="img-responsive w-100" height="600px"/>
    </div>
    <div class="carousel-caption" style="top:6%; height:300px">
        <h1 style="font-size:4rem; color:#363534">Neighborhood Friend</h1>
    </div>
</div>

<div class="container mt-3 text-center">
    <P style="font-size:3rem; color:black">Ready to explore your new home?</P>
</div>

<div class="container mb-5 mt-4">
    <div class="row">
        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://images.unsplash.com/photo-1625943912749-7f75dc0d7a01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHJlc3RhdXJhbnR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60 " alt="Picture of food in a plate with a hand holding knife and fork over it" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <br />
                        <br />
                        <h2>Planning to grab a bite?</h2>
                        <h5>Check these out!</h5><br />
                        <a class="btn btn-dark bg-white text-dark" href="/RestaurantSearch" role="button">Search by ZIP</a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://images.unsplash.com/photo-1571896349842-33c89424de2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80 " alt="Picture of a swimming pool with buildings in the background" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back ">
                        <br /><br />
                        <h2>Need a recreational weekend? </h2>
                        <h5>Dive into your options!</h5><br />
                        <a class="btn btn-dark bg-white text-dark" href="/RecreationSearch" role="button">Search by ZIP</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://images.unsplash.com/photo-1589216532372-1c2a367900d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80 " alt="Picture of a gavel with a black background" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <br />
                        <br />
                        <h2>Concerned about safety? </h2>
                        <h5>Take a glance!</h5><br />
                        <a class="btn btn-dark bg-white text-dark" href="/CrimeSearch" role="button">Search by ZIP</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    
</div>