@page
@model XML_Web_Services_Project.Pages.Shared.FeedbackModel
@{
    ViewData["Title"] = "User Feedback";
    //var feedbacks = (IList<XML_Web_Services_Project.Pages.Shared.Feedback>)ViewData["FeedbackList"];
}
<form>
    <div class="form-group">
        <label>Example label</label>
        <input type="text" class="form-control" placeholder="Example input">
    </div>
    <div class="form-group">
        <label>Another label</label>
        <input type="text" class="form-control" placeholder="Another input">
    </div>
</form>