html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 70px;
}

.logo-image {
    width: 45px;
    height: 45px;
    border-radius: 0%;
    overflow: hidden;
    margin-top: 5px;
}